@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8faff;
  --foreground: #3c4043;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  /* Grid Background ala GSA */
  background-image: 
    linear-gradient(to right, #d1e3ff 1px, transparent 1px),
    linear-gradient(to bottom, #d1e3ff_1px, transparent 1px);
  background-size: 40px 40px;
  scroll-behavior: smooth;
}

@keyframes floating {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

.animate-float {
  animation: floating 3s ease-in-out infinite;
}