@import "tailwindcss";

@config "../tailwind.config.ts";

@theme {
  --color-google-blue: #1a73e8;
  --color-background: #f8faff;
  
  @keyframes floating {
    0%, 100% { transform: translateY(0) rotate(2deg); }
    50% { transform: translateY(-15px) rotate(-1deg); }
  }

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
}

@utility animate-marquee-slow {
  animation: marquee 60s linear infinite;
}
html {
  scroll-behavior: smooth !important;
}

body {
  @apply text-[#3c4043] bg-background scroll-smooth;
  background-image: 
    linear-gradient(to right, #d1e3ff 1px, transparent 1px),
    linear-gradient(to bottom, #d1e3ff 1px, transparent 1px);
  background-size: 40px 40px;
}

.marquee-container {
  display: flex;
  width: max-content;
}